@model IEnumerable<Tarea4.Models.Alimentacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlimentacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pez)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlimentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pez.NombreComun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alimento.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlimentacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlimentacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlimentacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
