@model Tarea4.Models.Habitat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habitat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreHabitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHabitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAgua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAgua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperaturaPromedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperaturaPromedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadLitros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadLitros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
