@model Tarea4.Models.Visita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraVisita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraVisita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guia.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
