@model IEnumerable<Tarea4.Models.Pez>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreComun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreComun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCientifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPez">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPez">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPez">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
